<%- include('partials/header') %>

<div class="home-content">
    <p><%= homePageDefaultContent %></p>
    <% if (postList.length >0) { %>
        <% for (i=0; i < postList.length; i++) { %>
            <h1 class="blog-title"><%= postList[i].title %></h1>
            <% const maxLength = 100 %>
            <!-- <p class="blog-content"><%= postList[i].blogContent.slice(0,maxLength) + (postList[i].blogContent.length > maxLength ? "...":"")%></p> -->
            <p class="blog-content"><%= postList[i].blogContent %></p>
            <a href="/post/<%= postList[i].postTitle %>">(READ MORE)</a>
        <% } %>
     <% } %>
</div>

<%- include('partials/footer') %>